export(gQTLbrowse)

import(methods)
import(GenomicRanges)
import(S4Vectors)
import(SummarizedExperiment)

importFrom(GenomeInfoDb, seqlevelsStyle, "seqlevelsStyle<-")

importFrom(dplyr, filter, select)

importClassesFrom(gQTLBase, ciseStore)

importFrom(gQTLBase, ciseStore, extractByProbes)

importFrom(gQTLstats, getFDRfunc) #, gmod2)

importClassesFrom(gQTLstats, FDRsupp)

importFrom(AnnotationDbi, keys)

importFrom(erma, genemodel)
